In [ ]:
#importing data
import pandas as pd
data = pd.read_csv("/content/Cuisine_data.csv")

In [ ]:
data

               Timestamp  ... Which cuisine would u like to have?
0    11/16/2018 23:00:42  ...                             British
1    11/16/2018 23:01:54  ...                              Indian
2    11/16/2018 23:02:44  ...                              Indian
3    11/16/2018 23:04:04  ...                              Indian
4    11/16/2018 23:06:19  ...                             Chinese
..                   ...  ...                                 ...
101  11/18/2018 23:11:50  ...                            American
102  11/18/2018 23:50:19  ...                             British
103  11/18/2018 23:52:16  ...                             British
104  11/19/2018 10:30:22  ...                              Indian
105   11/25/2018 9:43:05  ...                      Indian Cuisine

[106 rows x 13 columns]

In [ ]:
#removing sensitive data throgh slicing
data = data.iloc[:,3:13]

       Your Age  Gender  ...         Are you Which cuisine would u like to have?
0    12/16/1995    Male  ...      Vegetarian                             British
1      4/6/1943    Male  ...  Non-Vegetarian                              Indian
2    11/15/1995  Female  ...      Vegetarian                              Indian
3    10/14/1934    Male  ...      Vegetarian                              Indian
4    10/19/1995  Female  ...  Non-Vegetarian                             Chinese
..          ...     ...  ...             ...                                 ...
101   5/19/1998  Female  ...  Non-Vegetarian                            American
102    2/3/1996    Male  ...      Vegetarian                             British
103    9/7/1996  Female  ...  Non-Vegetarian                             British
104   2/15/1988    Male  ...  Non-Vegetarian                              Indian
105   4/11/1994    Male  ...      Vegetarian                      Indian Cuisine

[106 rows x 10 columns]